* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

nav ul {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style: none;
    padding: 0
}

nav ul li {
    display: inline;
    margin-right: 30px;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    background-position: bottom;
    background-size: cover;
    background-image: url(assets/GettyImages-1461309413-d11bbc69d38145f5923533dd17d2256f.jpg)
}

.header-content {
    margin-bottom: 250px;
    color: black;
    text-align: center;
}

.header-content h1 {
    font-size: 10vmin;
}

.header-content h2 {
    font-size: 5vmin;
    margin-bottom: 30px;
}

.ctn {
    padding: 15px 25px;
    background: black;
    border-radius: 20px;
    color: pink;
    font-size: 20px;
}
.ctn:hover {
    background: white;
}

section {
    width: 100%;
    margin: auto;
}

.title {
    margin-top: 80px;
    padding: 50px;
    text-align: center;
    font-size: 4vmin;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    margin-top: 10px;
    padding: 50px;
    align-items: center;
    grid-gap: 100px;
}

.grid h2 {
    font-size: 22px;
    padding: 10px 0;
}

.grid p {
    font-size: 17px;
    line-height: 1.5;
}

.grid article:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3); 
    transform: scale(1.03);
}

.grid img {
    object-fit: cover;
    height: 350px;
} 

.grid article {
    border-radius: 5px;
    background: pink;
    text-align: center;
    width: 350px;
    padding: 30px 25px;
}

@media (max-width:800px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}