* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

nav ul {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style: none;
    padding: 0
}

nav ul li {
    display: inline;
    margin-right: 30px;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    background-position: bottom;
    background-size: cover;
    background-image: url(assets/GettyImages-1461309413-d11bbc69d38145f5923533dd17d2256f.jpg)
}

.header-content {
    margin-bottom: 250px;
    color: black;
    text-align: center;
}

.header-content h1 {
    font-size: 10vmin;
}

.header-content h2 {
    font-size: 5vmin;
    margin-bottom: 30px;
}

.ctn {
    padding: 15px 25px;
    background: black;
    border-radius: 20px;
    color: pink;
    font-size: 20px;
}