* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);

}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

nav ul {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style: none;
    padding: 0
}

nav ul li {
    display: inline;
    margin-right: 30px;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    background-position: bottom;
    background-size: cover;
    background-image: url(assets/GettyImages-1461309413-d11bbc69d38145f5923533dd17d2256f.jpg)
}

.header-content {
    margin-bottom: 250px;
    color: black;
    text-align: center;
}

.header-content h1 {
    font-size: 10vmin;
}

.header-content h2 {
    font-size: 5vmin;
    margin-bottom: 30px;
}

.ctn {
    padding: 15px 25px;
    background: black;
    border-radius: 20px;
    color: pink;
    font-size: 20px;
}
.ctn:hover {
    background: white;
}

section {
    width: 100%;
    margin: auto;
}

.deskripsi {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0;
    margin-top: 80px;
    padding: 60px;
    align-items: center;
    grid-gap: 100px;  
    background: pink;
}

.deskripsi h3 {
    font-size: 50px;
}

.deskripsi p {
    line-height: 1.5;
    font-size: 20px;
}
.title {
    margin-top: 80px;
    padding: 50px;
    text-align: center;
    font-size: 4vmin;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    margin-top: 10px;
    padding: 50px;
    align-items: center;
    grid-gap: 100px;
}

.grid h2 {
    font-size: 22px;
    padding: 10px 0;
}

.grid p {
    font-size: 17px;
    line-height: 1.5;
}

.grid article:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3); 
    transform: scale(1.03);
}

.grid img {
    object-fit: cover;
    height: 350px;
} 

.grid article {
    border-radius: 5px;
    background: pink;
    text-align: center;
    width: 350px;
    padding: 30px 25px;
}

.container {
    background: pink;
}

.container .title {
    margin-top: 80px;
    padding: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 4vmin;
    color: black;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
}

.container .box-container .box {
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 25px 15px;
    margin: 40px;
}

.container .box-container .box h3 {
    color: black;
    font-size: 28px;
    left: 0;
    right: 0;
    margin-bottom: 25px;
}

.container .box-container .box h2 {
    color: black;
    font-size: 40px;
    left: 0;
    right: 0;
    margin-bottom: 25px;
}

.container .box-container .box p {
    color: black;
    font-size: 17px;
    left: 0;
    right: 0;
    margin-bottom: 25px;
    line-height: 0.5;
}

.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: black;
    color: pink;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 2); 
    transform: scale(1.03);
}

@media (max-width:800px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}